@import url(_reset.css);
@import url(_variables.css);
@import url("./../components/button.css");
@import url("./../components/input.css");
@import url("./../components/span-error.css");
@import url("./../components/label.css");
@import url("./../components/form.css");
@import url("./../components/input-section.css");

* {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Fira Sans", sans-serif;
  font-family: "Italiana", serif;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
