Button {
  background-color: #e4cfc4;
  border: none;
  color: #869ea4;
  font-size: var(--fontSize);
  font-weight: bold;
  margin: 0 auto;
  height: 15%;
  transition: 0.5s ease-out;
  width: 50%;
}

button:hover {
  background-color: #c7e1da;
  border: 1px solid var(--labelColor);
  color: #aca7cb;
  cursor: pointer;
}
